<menu-scroll list='controller.menu'></menu-scroll>

<div id="section-1" class="presentation">
  <div class="container text-center">
    <span class="phulp-title uppercase">The task manager for PHP</span>

    <p class="phulp-help">
      Find your plugins, define your tasks, and let phulp work for you.
    </p>

    <p>
      <a class="btn btn-primary phulp-btn" href="https://github.com/reisraff/phulp#usage" target="_blank">Get Started</a>
    </p>
  </div>
</div>


<section id="section-2" class="stats">
  <div class="container text-center">

    <div class="row">

      <div class="col-md-4">
        <p>
          <span class="whats-phulp">Whats Phulp?</span>
        </p>

        <p>
          <img src="assets/images/task.png" class="whats-phulp-img">
        </p>

        <p class="whats-phulp-description">
          It is a framework that provides automation for build your stuff, and manage your tasks easily.
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <span class="whats-phulp">Downloads</span>
        </p>

        <p class="whats-phulp-description big">
          {{ controller.phulp.downloads.total }}
        </p>

        <p class="whats-phulp-description">
          Average of {{ controller.phulp.downloads.monthly }} downloads monthly.
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <span class="whats-phulp">Registered Plugins</span>
        </p>

        <p class="whats-phulp-description big">
          {{ controller.plugins.total }}
        </p>

        <p class="whats-phulp-description">
          You can also register yours as described <a href="https://github.com/reisraff/phulp#plugins" target="_blank">here</a>.
        </p>
      </div>

    </div>

  </div>
</section>


<section id="section-3" class="contribute">
  <div class="container">
<pre style="background:#000;color:#f8f8f8" ng-bind-html="controller.code"></pre>

  <p class="text-center">
    <a class="btn btn-primary phulp-btn" href="https://github.com/reisraff/phulp#usage" target="_blank">Get Started</a>
  </p>
  </div>
</section>

<section class="footer">
  <div class="container text-center">
    <img src="https://raw.githubusercontent.com/reisraff/phulp/master/phulp.png" width="330px">
  </div>
</section>
